$mainColor: #c70101;
$mainColorBg: #ffffff;
$mainTextColor: #0d0d0d;
$mainFontFamily: 'Museo Sans Cyrl';
$mainFontSize: 16px;

$colorButton: #c70101;

$index-1: 1; // Для наповзаючих елементів у загальному потоці
$index-2: 2; // Для наповзаючих елементів у загальному потоці
$index-3: 3; // Для масок
$index-4: 4; // Для сайдбарів
$index-5: 5; // Для модалок
$index-6: 6; // Для елементів перекривающих все

$mouseDevice: '(hover: hover) and (pointer: fine)'; // Медіазапит обирає тільки мишки і тачпад
