@font-face {
  font-family: 'social_icons-font';
  src:  url('fonts/social_icons-font.eot?s2xbi1');
  src:  url('fonts/social_icons-font.eot?s2xbi1#iefix') format('embedded-opentype'),
    url('fonts/social_icons-font.ttf?s2xbi1') format('truetype'),
    url('fonts/social_icons-font.woff?s2xbi1') format('woff'),
    url('fonts/social_icons-font.svg?s2xbi1#social_icons-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icons-"]::before, [class*=" icons-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social_icons-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

